<div class="alert alert-secondary mt-4" role="alert">
   <h3>@Title</h3>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter] public string Title { get; set; }
}
